h1 {
    color: brown;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}
body {
    background-color: black;
    color: blanchedalmond;
    font-family: sans-serif;
    font-size: 20px;

}
h2 {
    color: tomato;
    font-style: italic;
}